server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  # Logs da aplicação Java (Spring Boot)
  - job_name: order-service
    static_configs:
      - targets:
          - localhost
        labels:
          job: order-service
          application: emissao-apolice
          environment: development
          __path__: /app/logs/*.log

  # Logs do sistema
  - job_name: system
    static_configs:
      - targets:
          - localhost
        labels:
          job: varlogs
          __path__: /var/log/*log
