global:
  resolve_timeout: 5m

route:
  group_by: [ 'alertname', 'cluster', 'service' ]
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 12h
  receiver: 'default'
  routes:
    - match:
        severity: critical
      receiver: critical

receivers:
  - name: 'default'
    # Webhook para notificações (pode configurar Slack, email, etc)
    # webhook_configs:
    #   - url: 'http://localhost:5001/'

  - name: 'critical'
    # Configurar para alertas críticos
    # email_configs:
    #   - to: 'team@example.com'

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: [ 'alertname', 'cluster', 'service' ]
